<%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>

<h2>✅ Événements validés</h2>

<% if @events.any? %>
  <% @events.each do |event| %>
    <div class="admin-card">
      <h2><%= event.title %></h2>
      <p><strong>Organisateur :</strong> <%= event.user.email %></p>
      <p><strong>Date :</strong> <%= event.start_date.strftime("%d/%m/%Y") %></p>

      <%= link_to "🗑 Supprimer", admin_event_path(event), method: :delete, data: { confirm: "Tu es sûr.e ?" }, class: "btn btn-danger" %>
    </div>
  <% end %>
<% else %>
  <p>Il n'y a aucun événement validé.</p>
<% end %>
