<%= form_with model: @event, local: true do |form| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@event.errors.count, "erreur") %> Échec de la sauvegarde :</h4>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, "Date et heure de début" %><br/>

    <%= form.date_select :start_date,
      start_year: Date.today.year,
      end_year: Date.today.year + 5,
      order: [:day, :month, :year],
      select_html: { class: "form-select d-inline w-auto me-2" } %>

    <span class="align-middle mx-2">à</span>

    <%= form.time_select :start_date,
      minute_step: 15,
      select_html: { class: "form-select d-inline w-auto" } %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, "Durée (en minutes)" %>
    <%= form.number_field :duration, class: "form-control input-small", min: 5, step: 5 %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Prix (en €)" %>
    <%= form.number_field :price, class: "form-control input-small", min: 1, max: 1000 %>
  </div>

  <div class="mb-3">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control w-25" %>
  </div>

  <%= form.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>
