<%= stylesheet_link_tag "theme_profile", media: "all", "data-turbo-track": "reload" %>

<h1 class="mb-3">Participants à : <%= @event.title %></h1>
    <div class="container py-5">
        <ul>
        <% @participants.each do |participant| %>
            <li><%= participant.first_name %> <%= participant.last_name %> - <%= participant.email %></li>
        <% end %>
        </ul>
    </div>

<%= link_to "⬅️ Retour à l'événement", event_path(@event), class: "btn btn-info" %>
