<h2>Inscription à <%= @event.title %></h2>

<%= form_with(model: [@event, @attendance], local: true) do |f| %>
  <p>Prénom : <%= current_user.first_name %></p>
  <p>Nom : <%= current_user.last_name %></p>

  <%= f.submit "S'inscrire et payer", class: "btn btn-primary" %>
<% end %>