<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Eventbrite Clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT6N8tBtFPR9O7UknfF0ks+N" 
      crossorigin="anonymous">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <h1>Eventbrite Clone</h1>
            <% if user_signed_in? %>
              <p>Bonjour <%= current_user.first_name %> !</p>

              <%= link_to "Accueil", root_path, class: "nav-link" %> |
              <%= link_to "Créer un événement", new_event_path %>
              <%= button_to "Déconnexion", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Se connecter", new_user_session_path %> |
              <%= link_to "Créer un compte", new_user_registration_path %>
            <% end %>

            <% if user_signed_in? %>
              <%= button_to "Mon profil", profile_path, class: "nav-link" %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash messages -->
      <% flash.each do |key, message| %>
        <% bootstrap_class = key == "notice" ? "alert alert-success" : "alert alert-danger" %>
        <% custom_class = "flash #{key}" %>

        <div class="<%= bootstrap_class %> <%= custom_class %> alert-dismissible fade show text-center mx-3" role="alert">
          <%= message %>
        </div>
      <% end %>

    <%= yield %>

    <!-- Bootstrap 5 JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-w76A2z02tPqdjL+eE+zWPOsKzOepLY3rZQz1F+qcB1zFf+0YJXkk+GkC9oF5p4Uk" 
      crossorigin="anonymous"></script>
  </body>
</html>
